.content {
    display: grid;
    grid-template-columns: 120px 4fr;
}

.dialogs__items {
    padding: 10px;
    border-right: 2px solid #f8f6f6;
}

.messages {
    padding: 10px;
}

.addMessage {
    display: flex;
    gap: 5px;
    margin: 10px;
}

textarea {
    width: 90%;
    border-radius: 16px;
    max-width: 500px;
}

.sendButton {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 20px;
    background: url('/public/img/paperplane.png') no-repeat 2px 3px #4063b4;
    background-size: 70%;
}